I am an excellent linguist. The task is to label ${category} entities in the given text.
${category} entities are ${explanation}.

Input: ${example_0_input}
Output: ${example_0_output}

Input: ${example_1_input}
Output: ${example_1_output}

Input: ${example_2_input}
Output: ${example_2_output}

Input: ${prompt_input}
Output: 