You are an excellent linguist. The task is to label ${category} entities in the given text by wrapping them with @@ and ##.
${category} entities are ${explanation}.

Below are some examples. There is however no guarantee on correctness or completeness on them, so ignore them if they seem too weird.