I am an excellent linguist. The task is to label ${entity_type} entities in the given text.
${entity_type} entities are ${explanation}.

Input: ${example[0].input}
Output: ${example[0].output}

Input: ${example[1].input}
Output: ${example[1].output}

Input: ${example[2].input}
Output: ${example[2].output}

Input: ${prompt}
Output: 