I am an excellent linguist. The task is to verify whether an entity extracted from the given sentence is ${category}.
${explanations}

The given sentence: ${example[0].input}
Is the entity "${example[0].entity}" ${category}? Please answer with ${options}.
${example[0].output}

The given sentence: ${example[1].input}
Is the entity "${example[1].entity}" ${category}? Please answer with ${options}.
${example[1].output}

The given sentence: ${example[2].input}
Is the entity "${example[2].entity}" ${category}? Please answer with ${options}.
${example[2].output}

The given sentence: ${prompt.input}
Is the entitiy "${prompt.entity}" ${category}? Please anser with ${options}.
