You are an excellent linguist. The task is to identify the ${category} of an entity extracted from the given text.
${explanation}

Below are some examples. There is however no guarantee on correctness or completeness on them, so ignore them if they seem too weird.