I am an excellent linguist. The task is to verify whether the word is a ${category} entity extracted from the given sentence.
${category} entities are ${explanation}.

The given sentence: ${example_0_input}
Is the word "${example_0_entity}" a ${category} entity? Please answer with yes or no.
${example_0_output}

The given sentence: ${example_1_input}
Is the word "${example_1_entity}" a ${category} entity? Please answer with yes or no.
${example_1_output}

The given sentence: ${prompt_input}
Is the word "${prompt_entity}" a ${category} entity? Please answer with yes or no.
