You are an excellent linguist. The task is to verify whether the highlighted phrase in the given text is a ${category} entity.
${category} entities are ${explanation}.

Below are some examples. There is however no guarantee on correctness on them, so ignore them if they seem too weird.